{% load static %}
{% load tag_library %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <title>HACKERS' NEWS STORIES||POLLS||COMMENTS</title>
</head>

<style>
    

</style>

<body >
    <div style="background-color: rgba(108,6,215,.2);min-height: 90vh;margin:4vh;display: flex;justify-content: center;align-items: center;position:relative;width: 95%;outline: scroll">
        

    <div class='container' style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
        <header>
            <a class='app-title home' href="{% url 'home' %}" style="z-index: 2;">
                <h1 style="font-size: 2em">HOME</h1>
            </a>

            <div class="messages">
                {% if messages %} {% for message in messages %} {% firstof message.tags 'warning' as msgtag %}
                <div class="alert alert-{{msgtag}} alert-dismissible fade show" role="alert">
                    <p>{{message}}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} {% endif %}
            </div>

            
            <hr>
        </header>
    