{% include 'blog/base/header.html' %}
{% load tag_library %}
<div class="row">
    <div class="col-md" style="align-items: center;justify-content: center;display: flex;">
        {% if not item.title == 'None' %}
        <h1 style="width: 90%;font-weight: 900">{{item.title|upper}}</h1> <br>  
        {% endif %}
    </div>
</div><br>  
<div class="row">
    <div class="col-md">
        {% if item.parent %}
        <h5>    
            <span>  This is a {{item.type}} response on a </span>
            {% if item_parent%}
            <a style="color: red" href="{% url 'item-detail' item_parent.id|floatformat:'0' %}">
                <b style="color: rgba(272,22,145,.7)"> parent {{item_parent.type}} &#8599;</b>
            </a>
            {%else%}
            <span>post not saved with us yet </span>
            {% endif %}
        </h5>
        
        {% endif %}
    </div>
</div>

<div class="">
    <div class="text-box">
        {% if not item.text == 'None' %}
        <p id="body">{%autoescape off%}{{item.text|linebreaks }}{% endautoescape %}</p>
        {% else %}
        <p id="body">This {{item.type }} has no body text</p>
        {% endif %}
        <b style="position: absolute;left: 1em">
            <span><i class="fa fa-thumbs-up"></i></span>
            <span>{{item.score}} &nbsp;</span>
            <span><i class="fa fa-comment"></i></span>
            <span>&nbsp; {{item.descendants}}</i></span>
        </b>
        <b style="position: absolute;right: 1em;">
            <span><i class="fa fa-compass"></i></span>
            <span>{{item.type}}</span>
        </b>
        <b style="position: absolute;right: 1em;top: .1em">
                <span><i class="fa fa-pencil"></i></span>
                {% if item.by %}
                <a  href="{% url 'author-review' item.by %}"><span>{{item.by}}</span></a>
                
                {%else%}
                <span>anonymous</span>
                {%endif%}
            </b>
        
        

    </div>
    <div class="kid-box row">
        <h4 style="margin-right: 2em;float: right;"> <b>{{kids|tem_check_len}} Related comments    </b></h4>

        
        {% for kid in kids%}
        {% if kid %}
        <div class="kids ">
            {% if not kid.id == None %}
            <a style="color: rgb(120,56,12)" href="{% url 'item-detail' kid.id %}">
            {% endif %}
                {% if not kid.title == 'None' %}
                <b>{{kid.title}}</b>
                {% endif %}
                {% if not kid.text == 'None' %}
                <p id="body">{%autoescape off%}{{kid.text|linebreaks }}{% endautoescape %}</p>
                {% endif %}
            </a>
            <b style="position: absolute;right: 1em;">
                <span><i class="fa fa-pencil"></i></span>
                {% if kid.by %}
                <span>{{kid.by}}</span>
                {%else%}
                <span>anonymous</span>
                {%endif%}
            </b>
            <b style="position: absolute;left: 1em">
            <span><i class="fa fa-thumbs-up"></i></span>
            <span>{{kid.score}} &nbsp;</span>
        </b>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>



<a class='todos-edit btn btn-outline-secondary add-button' href="{% url 'details' item.id %}">
    <i class="fa fa-edit" style="font-size: 2.5em;color: rgba(190,223,45,.7);" aria-hidden="true"></i>
</a>

{% include 'blog/base/footer.html' %}