{% url 'todos:detail' todo.id as gobackurl %}

 {% include 'base/header.html'%}

<h3>update this todo here</h3><br>  

<form action="{% url 'todos:update' todo.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="title" placeholder="title of event" value="{{todo.title|capfirst}}" />
    </div>



    <div class="form-group">
        <label for="body"> About this event</label><br />
        <textarea name="body" id=""> {{todo.body|upper}}</textarea>
        <script>
            CKEDITOR.replace( 'body' );
        </script>
    </div>

    <div class="form-group">
        <label for="text">Event Day</label><br />
        <input type="datetime-local" id="execution_date" name="execution_date" value="{{todo.execution_date}}">
    </div>



    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit" />
    </div>

</form>
<form action="{% url 'todos:delete' todo.id %}" method="post">
    {% csrf_token %}
    <button class='btn btn-danger add-button' href="{% url 'todos:add' %}">
        <i class="fa fa-trash" aria-hidden="true" style="font-size: 2.5em;color: rgba(122,13,12,1);"></i>
    </button> 
</form>


<a class='todos-edit btn btn-outline-secondary add-button' style="top: 2em;bottom:inherit;" href="{% url 'todos:detail' todo.id %}">
    <i class="fa fa-reply-all" style="font-size: 2.5em;color: rgba(12,163,12,1);" aria-hidden="true"></i>
</a>


{% include 'base/footer.html' %}