{% include 'base/header.html' %}

<h3>Add A todo</h3>

<form action="{% url 'todos:add' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="title" placeholder="title of event" />
    </div>



    <div class="form-group">
        <label for="body"> About this event</label><br />
        <textarea name="body" id="bod"> tell us about this event</textarea>
        <script>
            CKEDITOR.replace( 'body' );
        </script>
    </div>

    <div class="form-group">
        <label for="text">Event Day</label><br />
        <input type="datetime-local" id="execution_date" name="execution_date">
    </div>



    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit" />
    </div>
</form>

{% include 'base/footer.html' %}

